<div class="container">
  <h1 class="mt-4 mb-4">Your Games</h1>

  <p class="mt-3">
    <%= link_to 'Sort by Highest Rating', games_path(sort: 'highest_rating'), class: "btn btn-primary" %>
  </p>

  <ul class="list-group">
    <% @games.each do |game| %>
      <li class="list-group-item">
        <%= link_to game.title, game_path(game), class: "text-dark font-weight-bold" %>
        <% if game.image.attached? %>
        <%= image_tag game.image, class: "img-thumbnail custom-thumbnail" %>
        <% end %>
        <div>
          <%= link_to 'Delete', game, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm btn-delete" if current_user == game.user %>
        </div>
      </li>
    <% end %>
  </ul>

  <%= link_to 'New Game', new_game_path, class: "btn btn-success mt-3" %>

</div>

