<!DOCTYPE html>
<html>
<head>
  <title>GameLogApp</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <!-- Include Bootstrap from CDN -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag 'application', 'games', 'data-turbo-track': 'reload' %>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container">
    <%= link_to 'Home', games_path, class: "navbar-brand" %>

    <%= form_tag(games_path, method: :get, class: "form-inline my-2 my-lg-0 ml-auto") do %>
      <%= text_field_tag :search, params[:search], class: "form-control mr-sm-2", placeholder: 'Search by title' %>
      <%= submit_tag 'Search', class: "btn btn-outline-secondary my-2 my-sm-0" %>
    <% end %>

    <div class="navbar-nav ml-auto">
      <% if user_signed_in? %>
        <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "nav-item nav-link" %>
      <% else %>
        <%= link_to 'Sign in', new_user_session_path, class: "nav-item nav-link" %>
      <% end %>
    </div>
  </div>
</nav>

<div class="container">
  <h1 class="mt-4"><%= @game.title %></h1>

  <p class="mb-2"><strong>Platform:</strong> <%= @game.platform %></p>
  <p class="mb-2"><strong>Completed:</strong> <%= @game.completed ? 'Yes' : 'No' %></p>

  <% if @game.completed %>
    <p class="mb-2"><strong>Review:</strong> <%= @game.review %></p>
  <% end %>

  <% if @game.rating.present? %>
    <p class="mb-4"><strong class="mr-2">Rating:</strong> <%= @game.rating %>/5</p>
  <% else %>
    <p class="mb-4">No rating available.</p>
  <% end %>

  <div class="btn-group">
    <%= link_to 'Edit', edit_game_path(@game), class: "btn btn-primary" %>
    <%= link_to 'Back', games_path, class: "btn btn-secondary" %>
  </div>
</div>
</div>
</body>
</html>